@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Jua');

.navbar {
  background:#040926;
}

.navbar-brand {
  color: #FFE066;
  font-family: 'Krona One', sans-serif;
}

.roombrand {
  color: #219ebc;
  font-family: 'Krona One', sans-serif;
}

video {
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
}