<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width-device-width, initial-scale=1, shrink-to-fit=no'>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/webrtc.css">

        <!-- favicon.ico not found -->
        <link rel="shortcut icon" href="#">
    <title>PaasTell Conference</title>

</head>
<body>
    <nav class="navbar">
        <h1 class="navbar-brand">PaasTell Conference</h1>
        <h1 class="navbar-brand"><span class="roombrand">Room: <span style="text-transform:uppercase;">{{ room_code | tojson }}</span></span></h1>
    </nav>


    <video id="localStream" autoplay playsinline></video>


    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/socket.io.js"></script>
    <script>
        room_code = {{ room_code | tojson }}
    </script>
    <script src="/static/webrtc.js"></script>

</body>
</html>